{% extends "base.html" %}
{% load i18n %}

{% block content %}

<div class="auth-page">
    <div class="auth-card pay-card">

        <div class="auth-icon">💸</div>

        <h2>{% trans "Send Credits" %}</h2>

        <div class="transfer-recipient-card">

            {% if target_profile and target_profile.avatar %}
                <img src="{{ target_profile.avatar.url }}" class="transfer-recipient-avatar">
            {% else %}
                <div class="transfer-recipient-avatar-fallback">
                    {{ target_user.username|first|upper }}
                </div>
            {% endif %}

            <div class="transfer-recipient-info">
                <h3>
                    {% if target_profile and target_profile.display_name %}
                        {{ target_profile.display_name }}
                    {% elif target_user.get_full_name %}
                        {{ target_user.get_full_name }}
                    {% else %}
                        {{ target_user.username }}
                    {% endif %}
                </h3>

                <p>@{{ target_user.username }}</p>

                <small>Wallet: {{ target_wallet.wallet_code }}</small>
            </div>

        </div>

        <form method="post" class="auth-form">
            {% csrf_token %}

            
            <input type="number" name="amount" min="1" required placeholder="Enter amount">
            <button type="submit" class="auth-primary-btn">
                {% trans "Send Credits" %}
            </button>
        </form>

    </div>
</div>

{% endblock %}
