{% if hub_card.button_url %}
    <a
        href="{{ hub_card.button_url }}"
        class="btn btn-sm btn-primary"
    >
        {% if hub_card.button_text %}
            {{ hub_card.button_text }}
        {% else %}
            {% trans "Explore" %}
        {% endif %}
    </a>
{% else %}
    <span class="btn btn-sm btn-secondary disabled">
        {% if hub_card.button_text %}
            {{ hub_card.button_text }}
        {% else %}
            {% trans "Coming Soon" %}
        {% endif %}
    </span>
{% endif %}
