{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}

<div class="auth-page">
    <div class="auth-card profile-card">
        <div class="auth-icon">👤</div>

        <h2>{% trans "Edit Profile" %}</h2>

        <form method="post" enctype="multipart/form-data" class="auth-form">
            {% csrf_token %}
            {{ form.as_p }}
             
            <center>              
            <label class="tos-check">
            <input type="checkbox" name="tos_accepted">
             {% trans "I accept" %} Fanz.to 
            <a href="{% url 'terms' %}" target="_blank">{% trans "Terms of Service" %}</a>.
            </label>
            </center>

            <button type="submit" class="auth-primary-btn">
                {% trans "Save Profile" %}
            </button>
        </form>
    </div>
</div>

{% endblock %}
