{% extends "base.html" %}
{% load hashtag_tags %}

{% block content %}

<div class="feed-card">

  <div class="feed-meta">
    <strong>
      <a href="{% url 'public_profile_root' post.user.username %}" class="post-author-link">
        @{{ post.user.username }}
      </a>
    </strong>
    <span>{{ post.created_at|date:"M j, Y g:i A" }}</span>
  </div>

  {% if post.title %}
    <h2>{{ post.title }}</h2>
  {% endif %}

  <div class="feed-content">
    {{ post.content|link_hashtags|linebreaksbr }}

    {% if post.hashtags.count == 1 and post.hashtags.first.name == "discover_fanz" %}
      <div class="post-tags">
        <a href="{% url 'hashtag_feed' 'discover_fanz' %}">
          #discover_fanz
        </a>
      </div>
    {% endif %}
  </div>

  {% if post.is_paid and request.user != post.user and post.id not in unlocked_post_ids %}
  <div class="locked-post-card">

    {% if post.image %}
      <div class="premium-preview">
        <img src="{{ post.image.url }}" class="feed-image premium-blur">
        <div class="premium-overlay">
          🔒 Premium Content
        </div>
      </div>
    {% endif %}

    <p class="locked-post-title">
      🔒 Premium content locked
    </p>

    <p class="locked-post-price">
      Unlock media for {{ post.unlock_price }} credits
    </p>

    <form method="post" action="{% url 'unlock_feed_post' post.id %}">
      {% csrf_token %}
      <button type="submit" class="auth-primary-btn">
        Unlock Post
      </button>
    </form>

  </div>
{% else %}
  {% if post.image %}
    <img src="{{ post.image.url }}" class="feed-image">
  {% endif %}
{% endif %}

</div>

{% endblock %}
